*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}
.slide li{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.slide li:nth-child(1){
    background: url(images/a1.jpg) no-repeat center center;
}
.slide li:nth-child(2){
    background: url(images/a2.jpg) no-repeat center center;
}
.slide li:nth-child(3){
    background: url(images/a3.jpg) no-repeat center center;
}
.slide li:nth-child(4){
    background: url(images/a4.jpg) no-repeat center center;
}
.zIndex{
    z-index: 111;
}
.zIndex .a4 p{


    margin-top: 50px;
    font-size:90px;
    text-align: center;
    color: #fff;
}
.a1 p{
    margin-left: 50px;
    width: 530px;
    margin-top: 80px;
    font-size: 30px;
    color: #fff;
    text-align: right;
    margin-right: 40px;

}
.a3 p{
    margin-left: 50px;
    width: 530px;
    font-size: 30px;
    color: tomato;
    margin-top: 20px;
    line-height: 35px;
}
.a2 p{
    margin-left: 50px;
    width: 530px;
    font-size: 30px;
    color: aliceblue;
    margin-top: 80px;
    line-height: 90px;
}





/*1111*/
.a1{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:15%;
    color: #fff;
    line-height: 26px;
    font-size: 20px;
}
.a1 p:nth-child(odd){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a1 p:nth-child(even){
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}

#a1 p{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 1s;

}
.a2 p:nth-child(1){
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
#a2 p{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition:all 1s;
}
.a3 {
    position: absolute;
}
#a3{
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
    -webkit-transition:1s;
}


